# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# VSCode
.vscode/

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Pytest
.pytest_cache/

# Build
build/
dist/

# IDE
.idea/

# Temporary
*.tmp